/* General styles */
:root{
    --primaryColor: #28bb76;
    --secondaryColor: #427c5b;
    --thirdColor: #fff;
    --forthColor: #1a1a1a;
    --primaryFont: 'Comfortaa', cursive;
    --secondaryFont: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
}

html{
    width: 100%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(69,86,102,1) 0%, rgba(34,34,34,1) 90% );

}
.container{
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    padding-top: 55px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
} 
.containerContact{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
.formContact{
    width: 100%;
}
textarea {
    resize: none;
  }
.textInput{
    width: 50%;
    margin: 0 auto 20px;
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-flow: row wrap;
    border-radius: 8px;
    
}
.btn-grad {
    width: 100px;
    height: 30px;
    color: white;
    display: flex;
    padding-left: 30px;
    margin: 0 auto;
    border-radius: 10px;
    background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%)
    
    
}
.banner {
    position: relative;
    width: 100%;
    margin: 0 auto;

}
.banner img{
    width: 100%;
}
.heroImg{
    max-height: 1000px;
    width: 100%;
}
.textInnerImg{
    position: absolute;
    color: white;
    text-align: center;
    margin-top: -45%;
    font-size: 100px;
    width: 100%;
    letter-spacing: .15em;
}
.textInnerImgName{
    position: absolute;
    color: white;
    text-align: center;
    margin-top: -35%;
    font-size: 50px;
    width: 100%;
    letter-spacing: .35em;
}




.btn-grad:hover { 
    background-position: right center; 
    cursor: pointer;
}

div.functions{

    width: 32%;
    height: 25%;
    text-align: center;
}
/* Navigation styles */
.headerNav{
    background-color: var(--forthColor);
    color: var(--thirdColor);
    font-family: var(--secondaryFont);
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 10px 0px;
    z-index: 100;
    opacity: 0.7;
}

/* img{
    max-width: 200px;
    max-height: 200px;
} */
.imageFunctions{
    max-width: 200px;
    max-height: 200px;
}
nav{
    width: 100%; 
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


nav a{
    text-align: left;
    height: 40px;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none; 
}

nav ul li{
    display: flex;
    justify-content: flex-end;
}

nav ul li a{
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: var(--thirdColor);
}

a:hover{
    color: var(--primaryColor);
}

/* footer styles */

 
footer{
    background-color: var(--forthColor);
    color: var(--thirdColor);
    font-family: var(--secondaryFont);
    margin: 0;
    padding: 5px 0;
}

.siteFooter{
    margin: 0;
    font-size: 12px;
    line-height: 15px;
}

#containerFooter{
    display: flex;
    flex-direction: column;
    text-align: center;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .showMenu{
        display: none;
    }

    nav{
        padding: 0px;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
    }

    nav ul li a{
        font-size: 14px;
        padding: 10px 12px;
        height: auto;
    }

    #imgBig{
        display: block;
        height: 40px;
        width: auto; 
    }

    #imgSmall{
        display: none;
    }
    div.functions{

        width: 50%;
        height: 25%;
        text-align: center;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    nav ul li a{
        padding: 10px 20px;
    }

}
